In [2]:
tup = 1,2,3,'a'
print(tup)

(1, 2, 3, 'a')

In [3]:
#we are trying to perform all the actions that can be performed using a list
#also we will skip the obvious ones that will definitely contain error
#lets get started

In [7]:
#Andhra Pradesh,Arunachal Pradesh ,Assam,Bihar,Chhattisgarh,Goa,Gujarat,Haryana,Himachal Pradesh
#Jammu and Kashmir,Jharkhand,Karnataka,Kerala,Madhya Pradesh
#Maharashtra,Manipur,Meghalaya,Mizoram,Nagaland,Odisha,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,
#Uttarakhand,West Bengal,Andaman and Nicobar Islands
#Chandigarh,Dadra and Nagar Haveli,Daman and Diu,Lakshadweep,National Capital Territory of Delhi,Puducherry
#deliberatly left Andhra Pradesh,Chhattisgarh and Puducherry for future exercises
states = ("AR","AS","BR","GA","GJ","HR","HP"
          ,"JK","JH","KA","KL","MP","MH","MN","ML","MZ","NL","OR",
          "PB","RJ","SK","TN","TE","TR","UP","UK","WB","AN",
          "CH","DH","DD","LD","DL")
type(states)

tuple

In [8]:
#Define the tuple and print the element at the following position
#first element in the list
print(states[0])
print(type(states[0]))

AR
<class 'str'>

In [9]:
#second element in the tuple
print(states[1])

AS

In [11]:
#third  element in the tuple
print(states[2])

BR

In [12]:
#last   element in the tuple
print(states[-1])

DL

In [13]:
#the value at last but one
print(states[-2])

LD

In [14]:
#print the index of a value in the tuple that is existing
states.index("TN")

21

In [5]:
#print the index of a value that is not in the tuple
#will return value error
try:
    states.index("Ti")
except NameError:
    print(f'the character is not in the tuple')

the character is not in the tuple

In [15]:
#print the length of the tuple
print(len(states))

33

In [16]:
#print the first and second element of the tuple
print(states[0:2])

('AR', 'AS')

In [17]:
#print the first five elements of the tuple.
print(states[:5])

('AR', 'AS', 'BR', 'GA', 'GJ')

In [18]:
#print the third and fourth element of the tuple.
print(states[2:4])
states.index(states[2]),states.index(states[3])

('BR', 'GA')

(2, 3)

In [96]:
#Reverse a tuple
#exercise page 3 number 5
n=(1,2,3,4)
print(n[::-1])

(4, 3, 2, 1)

In [97]:
#Define the following tuple
#list of districts in your state.
TN = ('CHE', 'SAL', 'MAD', 'KAN', 'TRL')

In [98]:
#list of districts in your neighboring states with each of the neighboring state in a separate tuple.
KL = ('COC', 'TRN', 'KOZ', 'KOT', 'WAY')
KA = ('BAG', 'BLU', 'BLR', 'BID', 'CHA')
AP = ('ANA', 'NEL', 'KAD', 'GUN', 'CHI')
TE = ('HYD', 'NIZ', 'SEC', 'PED', 'WAN')

In [99]:
#create a tuple called "states" and add all the lists created above to list "states". So, this will be a tuple containing tuple
states = (TN, KL, KA, AP, TE)

In [100]:
#Define two tuple and add all the elements of second tuple to the first.
first = 1, 2, 3, 4, 5
print(id(first))
second = 6, 7, 8, 9, 10
first = first + second
print(first)
print(id(first))
#In this method it'll be stored in a different memory location

2062256338376
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
2062258210888

In [101]:
#Define two tuple and add the elements of both tuple to another common tuple. 
#Ensure that first and second list should not be altered.
Stud = ('Jothi', 'Class XII', 'Sec C')
Group = ('Comp', 'Phy', 'Che', 'Mat')
Std_gr= Stud + Group
Std_gr

('Jothi', 'Class XII', 'Sec C', 'Comp', 'Phy', 'Che', 'Mat')

In [102]:
#sort a tuple 
#ascending order
#descending order
lis = ('d','0','g','a','h','c','p','z')
lis = list(lis)
lis.sort()
lis = tuple(lis)
print(lis)
lis = list(lis)
lis.sort(reverse = True)
lis = tuple(lis)
print(lis)

('0', 'a', 'c', 'd', 'g', 'h', 'p', 'z')
('z', 'p', 'h', 'g', 'd', 'c', 'a', '0')

In [103]:
#Repeat for the tuple that has alphanumeric values
#exercise page 12 number 1
password = ('Jothi12', '12jms', 'MJMS1496', '120496jmsapr')
lis = list(password)
lis.sort()
password = tuple(lis)
print(password)
lis = list(password)
lis.sort(reverse = True)
password = tuple(lis)
print(password)

('120496jmsapr', '12jms', 'Jothi12', 'MJMS1496')
('MJMS1496', 'Jothi12', '12jms', '120496jmsapr')

In [104]:
#Repeat for the tuple that has int values
#exercise page 12 number 1
num = (5,4,3,8,9,7,63,54,6,53,75,84,24)
num.sort()
print(num)
num.sort(reverse = True)
print(num)

[3, 4, 5, 6, 7, 8, 9, 24, 53, 54, 63, 75, 84]
[84, 75, 63, 54, 53, 24, 9, 8, 7, 6, 5, 4, 3]

In [113]:
#Find the index of 5 in the following tuple

first = (1, 2, 3, 4, 5)
second = (1, 2, 3, 4)
print(first.index(5))
print(second.index(5))
#will return value error

4

ValueError: tuple.index(x): x not in tuple

In [95]:
first = (1, 2, 3, 4, 5)
try:
    print(first.index(6))
except ValueError:
    print (f'ValueError: could not find the index for {6} in the given list')

ValueError: could not find the index for 6 in the given list

In [1]:
#Find whether an element/value present in a tuple.
inp_str = input("enter space seperated values: ")
List = inp_str.split()
tup = tuple(List)
print(tup)
value = input("enter the element or value: ")
if value in tup:
    print(f'The index of the value or element {value} present in the list is {List.index(value)}')
else :
    print(f'The index of the value or element {value} is not present in the list')

enter space seperated values: jo ldk k sd kdnl j
('jo', 'ldk', 'k', 'sd', 'kdnl', 'j')
enter the element or value: j
The index of the value or element j present in the list is 5

In [2]:
#Define a tuple and loop through it. Print the value at each index.
first = (1, 2, 3, 4, 5)
for i in range(len(first)):
    print(first[i])

1
2
3
4
5

In [6]:
#Define a tuple and loop through it. 
#Print the value at each index along with index value
first = ('Mat', 'Dam', 'Henry', 87, 'abC1')
for i in range(len(first)):
    print(first[i])
    print(first.index(first[i]))

Mat
0
Dam
1
Henry
2
87
3
abC1
4

In [7]:
#Define a tuple and loop through it. 
#Print the value at each index along with index values and the index value should start from 1
first = ('Mat', 'Dam', 'Henry', 87, 'abC1')
for i in range(len(first)):
    print(first[i])
    print(first.index(first[i])+1)

Mat
1
Dam
2
Henry
3
87
4
abC1
5

In [14]:
#Create a tuple of names of your friends. 
#Create a friendship string with names of your friends separated by comma
friends = ('Antony', 'Dhana', 'George')
friendship = ', '.join(friends)
print(f'The friends i play PUBG with are {friendship}')

The friends i play PUBG with are Antony, Dhana, George

In [15]:
#Take the friendship string (output of previous problem) and convert it back to string using split
fr_split= tuple(friendship.split(sep=', '))
print(fr_split)

('Antony', 'Dhana', 'George')

In [18]:
#From the tuple "numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)", perform the following and get a new tuple.
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#a tuple containing first two elements
#sut_1 is sub tuple 1
sut_1 = numbers[0:2]
print(f' list containing first two elements \n {sut_1}')

#a tuple contain elements from third position(index2) to sixth position
sut_2 = numbers[2:7]
print(f' a list contain elements from third position(index2) to sixth position \n {sut_2}')

#a tuple containing last two elements
sut_3 = numbers[-1:-3:-1]
print(f' a list containing last two elements, method 1(reversed) \n {sut_3}')
#if we want sul_3 to be non reversed we can use
sut_3_1 = numbers[-1:-3:-1][::-1]
print(f' a list containing last two elements, method 2(non reversed) \n {sut_3_1}')

#a tuple containing sixth and seventh position
sut_4 = numbers[6:8]
print(f' a list containing sixth and seventh position \n {sut_4}')

#a tuple contain elements from first to last but one
sut_5 = numbers[0:(len(numbers)-1)]
print(f' a list contain elements from first to last but one \n {sut_5}')

#a tuple containing last four elements
sut_6 = numbers[-1:-5:-1]
print(f' a list containing last four elements, method 1(reversed) \n {sut_6}')
#if we want sul_6 to be non reversed we can use
sut_6_1 = numbers[-1:-5:-1][::-1]
print(f' a list containing last four elements, method 2(non reversed) \n {sut_6_1}')

#a tuple containing first and last elements
sut_7 = numbers[0],numbers[-1]
print(f' a list containing first and last elements \n {sut_7}')

 list containing first two elements
 (1, 2)
 a list contain elements from third position(index2) to sixth position
 (3, 4, 5, 6, 7)
 a list containing last two elements, method 1(reversed)
 (10, 9)
 a list containing last two elements, method 2(non reversed)
 (9, 10)
 a list containing sixth and seventh position
 (7, 8)
 a list contain elements from first to last but one
 (1, 2, 3, 4, 5, 6, 7, 8, 9)
 a list containing last four elements, method 1(reversed)
 (10, 9, 8, 7)
 a list containing last four elements, method 2(non reversed)
 (7, 8, 9, 10)
 a list containing first and last elements
 (1, 10)

In [43]:
#Write a function that creates a separate tuple for 
#integer, float, string and everything else.

def sorttuple(tup):
    int_in_tuple = ()
    str_in_tuple = ()
    float_in_tuple = ()
    others_in_tuple = ()
    for i in range(len(tup)):
        if isinstance(tup[i],int) :
            int_in_tuple = int_in_tuple[0:(i+1)]+(tup[i],)
        elif isinstance(tup[i],str):
            str_in_tuple= str_in_tuple[0:(i+1)]+(tup[i],)
        elif isinstance(tup[i],float):
            float_in_tuple= float_in_tuple[0:(i+1)]+(tup[i],)
        else:
            others_in_tuple= others_in_tuple[0:(i+1)]+(tup[i],)
            
    print(f'''Given list= {tup} \n 
list of integers = {int_in_tuple} \n 
list of strings  = {str_in_tuple} \n 
list of float    = {float_in_tuple} \n 
list of others   = {others_in_tuple}''')

In [44]:
l= (1, 2, 3, 4, 5,'a', 6, 7, 8, 9, 10)
sorttuple(l)

Given list= (1, 2, 3, 4, 5, 'a', 6, 7, 8, 9, 10)

list of integers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

list of strings  = ('a',)

list of float    = ()

list of others   = ()

In [45]:
#A square matrix N*N is expressed as tuple. 
#Write a function that calculates the sum of diagonal elements.
#Note that there will be two diagonals in a square matrix.
def matrixsdiag(tup):
    d1 = 0 #Principal diagonal
    d2 = 0 #secondary diagonal
    N = len(tup)-1
    for i in range(N+1):
        d1 = d1 + tup[i][i]
        d2 = d2 + tup[i][N -(i+1)]
    print('Sum of the diagonals are:')
    print(f'Principal diagonal = {d1}')
    print(f'Secondary duagonal = {d2}')
    print(f'sum of both the diagonal elements are = {d1+d2}')

In [46]:
l=((1,2,3,4),(1,2,3,4),(1,2,3,4),(1,2,3,4))
matrixsdiag(l)

Sum of the diagonals are:
Principal diagonal = 10
Secondary duagonal = 10
sum of both the diagonal elements are = 20